.App {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 30vw;
  background: var(--block-color);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid white;
}

button {
  background-color: transparent;
  color: white;
  padding: 1.25vh 3vw;
  border: solid 2px white;
  cursor: pointer;
  border-radius: 1vw;
  transition: 0.2s;
  font-size: 1.5vw;
}

button:hover {
  background: linear-gradient(90deg, #00a0ff, #00ffa0, #00a0ff);
  animation: gradientAnimation 10s infinite linear;
  background-size: 300% 100%;
  border: solid 2px transparent;
  box-shadow: 0 0 1.5vw 0 rgb(0, 255, 255);
}

button:active {
  transform: scale(0.95);
}

.loading, .loading:hover, .loading:active {
  background: linear-gradient(90deg, #00a0ff, #00ffa0, #00a0ff);
  animation: gradientAnimation 2s infinite linear;
  background-size: 300% 100%;
  cursor: default;
  border: 2px solid cyan;
  box-shadow: none;
  transform: scale(0.95);
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  100% { background-position: -300% 50%; }
}

a {
  color: white;
  text-decoration: underline;
  transition: 0.3s;
  font-weight: var(--normal);
  font-size: 1.2vw;
}

a:hover {
  color: #00FFFF;
}

.message {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message h1 {
  font-size: 3vw;
}

.message a, .message p {
  font-size: 2vw;
}