body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 20, 30);
  cursor: default;
  text-align: center;
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.5vw;
  background: var(--header-footer-color);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50vmin;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #00FFA0, #00A0FF);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::selection {
  background: #00A0FFA0;
}