.chatbot-page {
    display: flex;
    flex-direction: row;
}

.chat-window {
    margin-left: 30vw;
    width: 55vw;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    word-break: break-word;
}

.user-history {
    background: #00FFA030;
    max-width: 75%;
    margin-left: auto;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    white-space: pre-wrap;
    font-size: 16px;
    cursor: text;
}

.bot-history {
    background: #00A0FF30;
    box-sizing: border-box;
    margin-right: auto;
    width: fit-content;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    white-space: pre-wrap;
    font-size: 16px;
}

.bot-history * {
    margin: 0;
    cursor: text;
}

.bot-history p {
    font-size: 1em;
}

.bot-history a {
    font-size: 1em;
    cursor: pointer;
}

.bot-history blockquote {
    border-left: 2px solid #00A0FF;
    margin-left: 10px;
    padding-left: 10px;
}

.bot-history code {
    background: #00A0FF50;
    padding: 3px 5px;
    border-radius: 5px;
}

.custom-code-block {
    padding: 0;
    margin: 0;
    border-radius: 10px;
    overflow-x: auto;
    width: 100%;
    line-height: 1.5;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.custom-code-block code {
    padding: 0;
}

.bot-history table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.5;
}

.bot-history th, .bot-history td {
    border: 1px solid #FFFFFF;
    text-align: left;
    padding: 5px;
}

.bot-history th {
    background: #00A0FF30;
    font-weight: bold;
}

.bot-history li {
    line-height: 1.5;
}

.bot-history input[type="checkbox"] {
    margin: 0 10px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    cursor: default;
}

.bot-history hr {
    border: none;
    border-top: 1px solid #00A0FF;
    margin: 10px 0;
    width: 100%;
}

.loading-response {
    background: linear-gradient(90deg, #00a0ff, #00ffa0, #00a0ff);
    animation: gradientAnimation 2s infinite linear;
    background-size: 300% 100%;
    cursor: default;
    box-shadow: none;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 20px;
    white-space: pre-wrap;
    border: none;
    font-size: 16px;
}

.chat-form {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 55vw;
}

.chat-form textarea {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: 300px;
    min-height: 50px;
    height: auto;
    padding: 5px 10px;
    font-size: 16px;
    align-content: center;
    border-radius: 10px;
    background: rgb(20, 20, 30);
    border: 1px solid white;
}

.chat-form textarea:hover {
    background: var(--block-color);
}

.chat-form textarea:focus {
    outline: none;
    border: 1px solid cyan;
    background: var(--block-color);
}

.chat-form button {
    background-image: url('../assets/up-arrow.svg');
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: 15px 0;
    padding: 0;
    animation: none;
    border-radius: 50vmin;
    flex-shrink: 0;
    background-color: rgb(20, 20, 30);
}

.chat-form button:hover {
    background-color: cyan;
}

.chat-form button:disabled {
    background-image: url('../assets/up-arrow.svg');
    background-size: 50px;
    background-repeat: no-repeat;
    opacity: 0.3;
    background-position: center;
}

.chat-form button:disabled:hover {
    background-color: transparent;
}

.sidebar {
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    width: 15vw;
    background: rgb(10, 10, 20);
    padding: 0 0.5vw;
    justify-content: top;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.create-chat-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 3vh 0;
}

.sidebar input {
    font-size: 1em;
    height: auto;
    margin: 0;
    margin-right: 0.5vw;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: var(--block-color);
}

.sidebar input:hover {
    background: var(--hover-block-color);
}

.sidebar input:focus {
    border: none;
    background: var(--hover-block-color);
    box-shadow: #00ffff 0 0 10px;
}

.create-button {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-button:hover {
    background: #00ffa0;
    animation: none;
    box-shadow: #00ffa0 0 0 10px;
}

.create-button:disabled {
    opacity: 0.3;
}

.create-button-loading {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #00a0ff, #00ffa0, #00a0ff);
    animation: gradientAnimation 2s infinite linear;
    border: none;
}

.sidebar hr {
    display: flex;
    width: 80%;
    margin-bottom: 3vh;
    border: 1px solid #ffffff60;
}

.chat-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
    background: var(--block-color);
    width: 100%;
    border-radius: 10px;
    transition: 0.2s;
}

.chat-item:hover {
    background: var(--hover-block-color);
}

.chat-item-active {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    background: var(--block-color);
    width: 100%;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: #00ffff 0 0 10px;
}

.chat-item-active:hover {
    background: var(--hover-block-color);
}


.chat-label {
    font-size: 1em;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: left;
}

.chat-label:hover {
    background: transparent;
    animation: none;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    height: auto;
    width: 100%;
    box-shadow: none;
    font-size: 1em;
    animation: none;
    border: none;
}

.delete-button {
    width: 30px;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-image: url('../assets/trash.svg');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.5;
}

.delete-button:hover {
    background-image: url('../assets/trash.svg');
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    animation: none;
    box-shadow: none;
    border: none;
    opacity: 1;
}

.no-chat-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 85vw;
    margin-left: 15vw;
    position: relative;
}

.no-chat-selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/sensei-logo-t.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    opacity: 0.1;
    z-index: 1;
}

.no-chat-selected p {
    font-size: 2em;
    color: white;
    position: relative;
    z-index: 2;
    font-weight: var(--bold)
}
