.delete-modal .modal-content {
    border: 2px solid #ff0000;
    box-shadow: 0 0 3vw #ff0000;
}

.delete-modal h1 {
    font-size: 2vw;
}

.exit-modal-button {
    float: right;
    margin-top: -1.5vw;
    cursor: pointer;
    font-size: 2vw;
    text-decoration: none;
    transition: 0.1s;
    font-weight: var(--light);
}

.exit-modal-button:hover {
    color: red;
    transform: scale(1.3);
}

.delete-modal p {
    font-size: 1.5vw;
    text-align: left;
}

.delete-modal input {
    width: 80%;
    height: 2vw;
    margin: 1vw;
    padding: 0.5vw;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2vmin;
    &::placeholder {
        color: rgb(255, 255, 255, 0.5);
    }
    font-size:1.2vw;
    color: white;
    transition: 0.5s;
}

.delete-modal input:hover {
    background: var(--hover-block-color);
}

.delete-modal input:focus {
    border: 2px solid red;
    outline: none;
    background: var(--hover-block-color);
    box-shadow: 0 0 1vw red;
}

.delete-modal button {
    margin: 1vw;
}

.delete-modal button:hover {
    background: red;
    border: 2px solid red;
    box-shadow: 0 0 3vw red;
}

.delete-modal button:disabled {
    border: 2px solid #FFFFFF50;
    color: #FFFFFF50;
    cursor: default;
    box-shadow: none;
    background: transparent;
}

.profile-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vw auto;
    padding: 4vw;
    background: var(--block-color);
    width: 40vw;
    border-radius: 10vmin;
    transition: 0.5s;
}

.profile-settings div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

div .info-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vw;
}

label {
    font-size: 1.5vw;
    color: white;
    width: 30%;
    text-align: right;
}

.info-label {
    font-size: 1.5vw;
    line-height: 2vw;
    color: white;
    width: 100%;
    text-align: left;
    margin-top: 2vw;
}

textarea {
    width: 100%;
    height: 10vw;
    margin: 1vw;
    padding: 0.5vw;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2vmin;
    font-size:1.2vw;
    color: white;
    resize: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: var(--light);
    transition: 0.5s;
}

textarea:hover {
    background: var(--hover-block-color);
}

textarea:focus {
    border: 2px solid cyan;
    outline: none;
    background: var(--hover-block-color);
    box-shadow: 0 0 1vw cyan;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

input[type="date"] {
    cursor: text;
}

.account-update {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.account-update form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vw auto;
    padding: 4vw;
    background: var(--block-color);
    width: 30vw;
    border-radius: 10vmin;
    transition: 0.5s;
}

.account-update input {
    margin-bottom: 2vw;
}