.chatbot-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.chat-window {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: min(55rem, calc(100vw - 17rem));
}

.collapsed .chat-window {
    width: min(55rem, calc(100vw - 3rem));
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    word-break: break-word;

}

.user-history {
    background: #00ffa030;
    max-width: 75%;
    margin-left: auto;
    width: fit-content;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    border: none;
    white-space: pre-wrap;
    font-size: 1rem;
    cursor: text;
}

.fun-user-history {
    background: #ff00ff30;
    max-width: 75%;
    margin-left: auto;
    width: fit-content;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    border: none;
    white-space: pre-wrap;
    font-size: 1rem;
    cursor: text;
}

.bot-history {
    background: #00a0ff30;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    border: none;
    white-space: pre-wrap;
    font-size: 1rem;
}

.bot-history * {
    margin: 0;
    cursor: text;
}

.bot-history p {
    font-size: 1rem;
    
}

.bot-history a {
    font-size: 1rem;
    cursor: pointer;
}

.bot-history blockquote {
    border-left: 2px solid #00a0ff;
    margin-left: 0.75rem;
    padding-left: 0.75rem;
}

.bot-history code {
    background: #00a0ff50;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.custom-code-block {
    padding: 0;
    margin: 0;
    border-radius: 0.75rem;
    overflow-x: auto;
    width: 100%;
    line-height: 1.5;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.custom-code-block code {
    padding: 0;
}

.bot-history table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.5;
}

.bot-history th,
.bot-history td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 0.3rem;
}

.bot-history th {
    background: #00a0ff30;
    font-weight: bold;
}

.bot-history li {
    line-height: 1.5;
}

.bot-history input[type="checkbox"] {
    margin: 0 0.75rem;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    cursor: default;
}

.bot-history hr {
    border: none;
    border-top: 1px solid #00a0ff;
    margin: 0.75rem 0;
    width: 100%;
}

.chat-form {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    width: min(55rem, calc(100vw - 17rem));
    background: var(--bg4);
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.75rem;
    border: 1px solid var(--primary-border);
}

.collapsed .chat-form {
    width: min(55rem, calc(100vw - 3rem));
}

.chat-form textarea {
    max-height: 20rem;
    height: 100%;
    font-size: 1rem;
    align-content: center;
    border-radius: 0.75rem;
    border: none;
    z-index: 10;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
}

.chat-form textarea::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

.chat-form textarea::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.25rem;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark);
    border-radius: 0.25rem;
    cursor: default;
}

.chat-form textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);

}

.chat-form textarea:hover {
    background: transparent;
}

.chat-form textarea:focus {
    background: transparent;
    box-shadow: none;
}

.chat-form button {
    background-image: url("../assets/up-arrow.svg");
    background-size: 2.5rem;
    background-position: center;
    background-repeat: no-repeat;
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem 0;
    padding: 0;
    animation: none;
    border-radius: 1rem;
    flex-shrink: 0;
    background-color: transparent;
    transition: 0.3s;
    margin: 0;
    opacity: 1;
}

.chat-form button:hover {
    background-image: url("../assets/up-arrow.svg");
    background-color: var(--secondary);
    animation: none;
    background-size: 2.5rem;
}

.chat-form button:disabled {
    opacity: 0;
    scale: 0;
}

.chat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-left: 15rem;
    transition: margin-left 0.3s;
}

.sidebar.collapsed + .chat-container {
    margin-left: 1rem;
}

.sidebar {
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    width: 20rem;
    background: var(--bg5);
    padding: 0 1rem;
    justify-content: top;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: width ease-out 0.3s;
    z-index: 10;
    border-right: 1px solid var(--border);
}

.sidebar.collapsed {
    width: 0.5rem;
}

.sidebar.collapsed .chat-label {
    display: none;
}

.sidebar.collapsed .chat-item {
    display: none;
}

.sidebar.collapsed .chat-item-active {
    display: none;
}

.sidebar.collapsed .delete-button {
    display: none;
}

.sidebar.collapsed hr {
    display: none;
}

.sidebar.collapsed .fun-mode-switch {
    display: none;
}

.sidebar.collapsed .create-chat {
    display: none;
}

.sidebar.collapsed .create-chat-active {
    display: none;
}

.create-chat {
    margin: 0.3rem 0;
    background: var(--bg3);
    width: 100%;
    border-radius: 0.75rem;
    transition: 0.2s;
    border: none;
    font-size: 1rem;
    margin: 1.5rem 0;
    border: 1px solid var(--primary-border);
}

.create-chat:hover {
    background: var(--bg4);
    border: 1px solid var(--primary-border);
}

.create-chat-active {
    margin: 0.3rem 0;
    width: 100%;
    border-radius: 0.75rem;
    transition: 0.2s;
    border: none;
    font-size: 1rem;
    margin: 1.5rem 0;
    background: var(--bg3);
    box-shadow: #00a0ff 0 0 1rem;
    border: 1px solid var(--primary-border);
}

.create-chat-active:hover {
    background: var(--bg4);
    border: 1px solid var(--primary-border);
}

.sidebar hr {
    display: flex;
    width: 80%;
    margin-bottom: 2rem;
    border: 1px solid var(--border);
}

.chat-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.3rem 0;
    background: var(--bg3);
    width: 100%;
    border-radius: 0.75rem;
    transition: 0.2s;
    border: 1px solid var(--primary-border);
    padding: 0 0.5rem;
}

.chat-item:hover {
    background: var(--bg4);
}

.chat-item-active {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.75rem 0;
    background: var(--bg3);
    width: 100%;
    border-radius: 0.75rem;
    transition: 0.2s;
    box-shadow: #00a0ff 0 0 1rem;
    padding: 0 0.5rem;
    border: 1px solid var(--primary-border);
}

.chat-item-active:hover {
    background: var(--bg4);
    border: 1px solid var(--primary-border);
}

.chat-label {
    font-size: 1rem;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0.75rem 0.5rem;
    border-radius: 0.75rem;
    border: none;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.chat-label:hover {
    background: transparent;
    animation: none;
    padding: 0.75rem 0.5rem;
    margin: 0;
    border-radius: 0.75rem;
    height: auto;
    box-shadow: none;
    font-size: 1rem;
    animation: none;
    border: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.delete-button {
    width: 2rem;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    border-radius: 0.75rem;
    background-image: url("../assets/trash.svg");
    background-size: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.5;
}

.delete-button:hover {
    background-image: url("../assets/trash.svg");
    background-size: 2.2rem;
    background-position: center;
    background-repeat: no-repeat;
    animation: none;
    box-shadow: none;
    border: none;
    opacity: 1;
}

.fun-mode-switch {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.fun-mode-switch p {
    font-size: 1rem;
    color: #FFFFFFC0;
    margin: 0 1rem;
}

.fun-mode-switch input {
    display: none;
}

.fun-mode-switch label {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    background-color: #00ffa0a0;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.fun-mode-switch label::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
}

.fun-mode-switch input:checked + label {
    background-color: #ff00ffa0;
}

.fun-mode-switch input:checked + label::before {
    transform: translateX(1.5rem);
}

.sidebar-toggle,
.sidebar-toggle:active {
    position: absolute;
    top: 0.5rem;
    right: -2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transform: rotate(180deg) translateX(-50%);
    transition: right 0.3s;
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    box-shadow: none;
    font-size: 2rem;
    transition: background-color 0.2s, transform ease-in-out 0.3s;
}

.sidebar .sidebar-toggle:hover {
    border: none;
    background: var(--bg4);
}

.sidebar.collapsed .sidebar-toggle {
    transform: translateX(50%) rotate(0deg);
}
