.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    text-align: left;
    margin-top: 10rem;
    width: min(90%, 50rem); 
    background: var(--bg3);
    padding: 5rem;
    border-radius: 5rem;
    box-sizing: border-box;
}

.contact h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 3.5rem;
    font-weight: var(--normal);
}

.contact a {
    font-size: inherit;
    font-weight: var(--extra-bold);
}
