.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    padding: 4rem;
    background: var(--bg3);
    width: 30rem;
    border-radius: 4rem;
    margin-top: calc(var(--header-height) + 2rem);
}

.auth-container a {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.auth-container p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.agree input, .agree input:focus {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    box-shadow: none;
}

.agree input:hover {
    box-shadow: 0 0 0.75rem #00FFFF;
}

.agree label {
    width: 100%;
    font-size: 1rem;
    font-weight: var(--light);
    text-align: left;
}

.agree label a {
    font-size: inherit;
}

.agree {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
}

.agree div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
