.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background: var(--header-footer-color);
    color: white;
    padding: 0 1.5vw;
    align-items: center;
    box-sizing: border-box;
    height: 5vh;
    z-index: 1000;
}

.header p {
    font-size: 2.5vh;
    font-weight: var(--bold);
    margin: 0;
}

.header .left {
    display: flex;
    align-items: center;
}

.header .middle {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header .right {
    display: flex;
    align-items: center;
}

.header .logo {
    height: 5vh;
    cursor: pointer;
}

.header a {
    color: white;
    padding: 0 1vw;
    text-decoration: none;
    font-weight: var(--light);
    transition: 0.2s;
    font-size: 2vh;
}

.header a:hover {
    font-size: 2.2vh;
    color: cyan;
}

.header .sign-in-button {
    padding: 0.75vh 1.5vh;
    border-radius: 50vmin;
    font-size: 1.6vh;
    border: 0.3vh solid white;
}

.header .sign-in-button:hover {
    border: 0.3vh solid transparent;
    box-shadow: 0 0 2vh 0 cyan;
}

.header .profile-picture {
    padding: 0;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    background-image: url('../assets/profileiconwhite.svg');
    background-size: cover;
    background-position: 0;
    background-color: transparent;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}

.header .profile-picture:hover {
    background-image: url('../assets/profileiconcolor.svg');
    background-size: cover;
    background-position: 0;
    box-shadow: 0 0 2vh 0 cyan;
    animation: none;
}