.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background: var(--bg1);
    color: white;
    padding: 0 1rem;
    align-items: center;
    box-sizing: border-box;
    height: var(--header-height);
    z-index: 10;
    border-bottom: 1px solid var(--border);
}

.header .logo {
    height: var(--header-height);
    cursor: pointer;
    transition: 0.3s;
}

.header .logo:hover {
    transform: scale(1.05);
}

.header nav {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header a {
    color: white;
    padding: 0 1rem;
    text-decoration: none;
    font-weight: var(--light);
    transition: 0.3s;
    font-size: 1.2rem;
}

.header a:hover {
    font-size: 1.3rem;
}

.header .sign-in-button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.header .profile-picture {
    padding: 0;
    height: calc(var(--header-height) - 0.75rem);
    width: calc(var(--header-height) - 0.75rem);
    border-radius: 50%;
    background-image: url('../assets/profileiconwhite.svg');
    background-size: cover;
    background-position: 0;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    background-repeat: no-repeat;
}

.header .profile-picture:hover {
    background-image: url('../assets/profileiconcolor.svg');
    background-size: cover;
    background-position: 0;
    box-shadow: 0 0 0.5rem 0 cyan;
    animation: none;
    scale: 1.05;
}