.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    color: white;
    background: radial-gradient(circle at right, var(--bg2), var(--bg1));
}

hr {
    width: 80%;
}

p {
    font-family: "Ubuntu", sans-serif;
    font-weight: var(--light);
    font-size: 1.5rem;
    line-height: 1.5;
}

.section1 {
    align-content: center;
    height: calc(90vh - var(--header-height));
}

.home .title {
    font-size: max(11vw, 7rem);
    font-family: "Ubuntu Condensed", sans-serif;
    align-items: center;
    margin: 0;
}

.sensei {
    font-family: "Ubuntu", sans-serif;
    font-weight: var(--extra-bold);
    background: var(--linear-gradient);
    animation: linearGradientAnimation 10s infinite linear;
    background-size: 300% 100%;
    padding: 1rem;
    border-radius: 2rem;
    transition: 0.5s;
    background-position: 50% 50%;
    cursor: pointer;
}



.sensei:hover {
    background: var(--radial-gradient);
    animation: radialGradientAnimation 1s linear;
    background-position: 50% 50%;
    background-size: var(--radial-zoom);
    border: solid 0.3rem cyan;
    box-shadow: 0 0 2rem cyan;
}

.section2 {
    align-content: center;
    height: 70vh;
    width: 90vw;
}

.home h1 {
    font-size: 3.5rem;
    font-weight: var(--bold);
}

.section2 h1 {
    margin: 0;
}

.section2 p {
    font-size: 2rem;
    margin: 4rem 0;
    font-weight: var(--normal);
}

.section3 {
    margin: 5rem;
    width: min(95vw, 90rem);
}

.why0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.why1 {
    background: var(--bg3);
    width: 48%;
    margin: 1rem 0;
    border-radius: 2rem;
    transition: 0.5s;
    padding: 1rem;
    box-sizing: border-box;
}

.why1:hover {
    background: var(--bg4);
}

.why2 {
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
}

.why2 p {
    text-align: left;
}

@media (max-width: 1000px) {
    .why1 {
        width: min(100%, 50rem);
    }
}

.section3 h2 {
    font-size: 2rem;
    font-weight: var(--bold);
}

.icon {
    width: 40%;
    margin: 5%;
}

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.s4-caption {
    font-weight: var(--light);
    width: min(80vw, 90rem);
    text-align: justify;
}

.how {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: min(80vw, 90rem);
    background-color: var(--bg3);
    padding: 2rem;
    border-radius: 3rem;
    transition: 0.5s;
    margin: 1rem 0;
}

.how:hover {
    background-color: var(--bg4);
}

.section4 h2 {
    font-size: 2rem;
    font-weight: var(--extra-bold);
}

.section4 .bullet {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(90deg, #00a0ff, #00ffa0, #00a0ff);
    animation: linearGradientAnimation 10s infinite linear;
    background-size: 300% 100%;
    font-weight: var(--extra-bold);
    align-content: center;
    font-size: 6rem;
    flex: none;
    margin: 0;
}

.section4 .description {
    text-align: left;
    margin-left: 2rem;
}

.about {
    width: min(90vw, 80rem);
    margin: 5vh 0;
}

.about .description {
    text-align: justify;
}
