:root {
    --text: #ffffff;
    --border: #ffffff50;
    --primary-border: #00a0ff50;

    --light: 300;
    --normal: 400;
    --bold: 500;
    --extra-bold: 600;

    --bg1: rgb(0, 0, 10);
    --bg2: rgb(0, 10, 20);
    --bg3: rgb(0, 20, 40);
    --bg4: rgb(0, 30, 60);
    --bg5: rgb(0, 5, 15);

    --primary: #00a0ff;
    --secondary: #00ffa0;
    --primary-dark: #00a0ffa0;
    --secondary-dark: #00ffa0a0;

    --linear-gradient: linear-gradient(90deg, var(--primary), var(--secondary), var(--primary));
    --radial-gradient: radial-gradient(circle, var(--primary), var(--secondary), transparent, transparent);
    --radial-zoom: 500% 500%;

    --header-height: 3rem;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg2);
    text-align: center;
    color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background: var(--bg1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark);
    cursor: default;
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

::-webkit-scrollbar-track {
    background: var(--bg1);
}

::selection {
    background: #00a0ffa0;
}

@media (max-width: 768px) {
    :root {
        --header-height: 4rem;
    }
    html {
        font-size: 12px;
    }
}

.main-container {
    margin-top: var(--header-height);
}

button {
    background-color: transparent;
    color: white;
    border: solid 0.1rem white;
    cursor: pointer;
    border-radius: 1rem;
    transition: 0.5s;
    background-position: 50% 50%;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.75rem 3rem;
}

button:hover {
    background: var(--radial-gradient);
    animation: radialGradientAnimation 1s linear;
    background-position: 50% 50%;
    background-size: var(--radial-zoom);
    border: solid 0.1rem cyan;
}

button:active {
    transform: scale(0.95);
    background: var(--radial-gradient);
    background-position: 50% 50%;
    background-size: var(--radial-zoom);
    box-shadow: 0 0 1rem cyan;
}

button:disabled {
    border-color: #FFFFFF50;
    cursor: default;
    animation: none;
    color: #FFFFFF50;
}

button:disabled:hover {
    background: transparent;
    border-color: #FFFFFF50;
    color: #FFFFFF50;
    box-shadow: none;
    transform: none;
}

.loading,
.loading:hover,
.loading:active {
    background: var(--linear-gradient);
    animation: linearGradientAnimation 1s infinite linear;
    background-size: 300% 300%;
    border: none;
    cursor: default;
    box-shadow: none;
    transform: scale(0.95);
}

@keyframes linearGradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: -300% 50%;
    }
}

@keyframes radialGradientAnimation {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: var(--radial-zoom);
    }
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: 0.3s;
    font-weight: var(--normal);
    font-size: 1rem;
}

a:hover {
    color: var(--secondary);
}

a:active {
    transform: scale(0.9);
}

.message {
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message h1 {
    font-size: 5rem;
    line-height: 1.5rem;
}

.message h1 a {
    font-size: 3rem;
}

.message a,
.message p {
    font-size: 2rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 40rem;
    background: var(--bg3);
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid white;
}

input {
    width: 80%;
    height: 2rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid #FFFFFFA0;
    border-radius: 0.75rem;
    font-size: 1.2rem;
    color: white;
    transition: 0.3s;
    font-family: 'Ubuntu', sans-serif;
    font-weight: var(--light);
    &::placeholder {
        color: rgb(255, 255, 255, 0.5);
    }
}

input:hover {
    background: var(--bg4);
    border-color: #FFFFFF
}

input:focus {
    border: 2px solid #00FFFF;
    outline: none;
    background: var(--bg4);
    box-shadow: 0 0 1rem #00FFFF;
}
